.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.form-control {
	border-radius: 20px;
}

.form-login, .form-PasswordReset {
	background-color: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color: #d2d2d2;
	border-width: 5px;
	box-shadow: 0 1px 0 #cfcfcf;
}

.login-btn-wrapper {
	text-align: left;
}

.bild {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.mycard{
	background-color: white;
	padding-bottom: 1.25rem;
}

.zeile
{
background-color: #000000;
}

.zeile:hover
{
background-color: #CCCCCC;
}
.mypictureborder { 
   border-style:solid;
 }

.checkout_border{
    border: solid #f7f7f9 .2rem;
    padding: 10px;

}
.checkout_overviewelements_connector{
    height: 1px;
    width: 74%;
    left: 13%;
    background-color: #000;
    position: absolute;
    z-index: -1;
    top: 15px;

}
.checkout_overviewelement_left{ float: left; width: 25%; }
.checkout_overviewelement_middle{ float: left; width: 50%;}
.checkout_overviewelement_right{ float: left; width: 25%;}
.checkout_overviewelement{
    width: 30px; 
    height: 30px; 
    border: #000 solid 1px; 
    background-color: #FFF;
    text-align: center;
    margin: 0 auto;
}
.checkout_overviewelement_text{
    text-align: center;
}
.checkout_overviewelement_selected{
    background-color: #ededed;
}
.checkout_overviewelement_active{
    background-color: #b5b5b5;
}

.kachel {
	width: "18.75rem";
	border-style:solid;
	border-width:1rem;
	border-color:white;
}